

*{
    height: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



    body{
      
        margin: 0!important;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
       
    
    }
/*Estilização Menu */

.header-menu{
   
    background-color: #6e6e6e;
    max-width:auto ;

}

.container-menu{
   
    background-color: #000000;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin-top: 0px;
   
}
nav{
    position: relative;
    width: 524px;
    height: 50px;
    background: #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav a{
    position: relative;
    display:inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #e5e7e8;
    text-decoration: none;
    padding: 0 23px;
    z-index:1;
}
nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    height: 100%;
    background: #06405d;
    border-radius: 8px;
    transition: .5s;

}
nav  a:nth-child(1):hover~span{
    left: 1px;
   
}

nav a:nth-child(2):hover~span{
    left: 174px;
    width: 67px;
}

nav a:nth-child(3):hover~span{
    left: 282px;
    width: 60px;
}
nav a:nth-child(4):hover~span{
    left: 342px;
    width: 182px;
}


li, a, button{
    font-family:"Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    
}

/*Estilização Titulo */
.container-home{
    margin-top: 50px;
  
    gap: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: #035677;
}


/*Estilização SubTitulo */
.conteudo-subtitulo{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 15px;
    
}

/*Estilização slider*/
.container-slider{
    background-color: #ffffff;
    justify-content: center;
    
  
    
    justify-content: center!important;
    justify-items: center;

}
.slider {
   display: flex;
   justify-content: center;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .slide .slide1 {
    
    width: 300px;
    height: 300px;
    float: left;
  }
  .slide .slide2 {
    border-radius: 25px;
    width: 300px;
    height:300px ;
    float: left;
  }
  .slide .slide3 {
    border-radius: 25px;
    width: 300px;
    height:300px ;
    float: left;
  }
  .slide .slide4 {
    border-radius: 25px;
    width: 250px;
    height:300px ;
    float: left;
  }


/*Estilização Container Projects*/

.titulo-projects{
  
    display: flex;
    justify-content: center;
    justify-items: center;
   font-weight: 500;
   font-family:"Montserrat",sans-serif;
    margin-top: 10px;
    color: #035677;
    letter-spacing: 4px;
    font-size: 20px;
    align-items: center;
    background-color: #039aff1f;
    
}


.container-projects{
   height: 280px;
    color: #035677;
    font-family:"Montserrat",sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
 
    text-align: center;
    gap: 20px;
    
    
}
    .pj1 h3{
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        color: #000000;
        margin-top: -40px;
        margin-left: 65px;  
    }
    .pj2 h3{
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        color: #000000;
        margin-top: -40px;
        margin-left: -25px;  
    }
    .pj3 h3{
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        color: #000000;  
        margin-top: -40px;
        margin-left: 105px;   
    }
    .pj4 h3{
        letter-spacing: 2px;
        
        display: flex;
        justify-content: center;
        color: #000000;
        margin-top: -40px;
        margin-left: 55px;  
    }


.container-projects .pj1-img{
    width: 50px;
    height: 50px;
    margin-left: -650px;
}

 h3:hover{
    color: #035677;
    
}

/*Estilização Container Sobre/About*/

.container-sobre{
    background-color: #000000;
    padding: 20px;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

/*Estilização Container Redes*/

.container-redes{
    
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #edf0f1;
    background-color: #000000;
    padding: 10px;
    gap: 15px;
}
/*Estilização Container Rodapé*/
.container-rodape{
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #edf0f1;
    background-color: #000000;
     margin-bottom: 0px;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

    
/*Responsive */
@media  only screen and (max-width: 415px){
  


/*Estilização Menu */

.container-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
   
    gap:2px;
   
}
nav a{
    display: flex;
    margin-left: 5px;
}

 nav .home{
    display: flex;
    justify-content: center;
    width: 68px;
   
    gap:10px!important;
 }

 nav .projects{
    display: flex;
    justify-content: center;
    width: 68px;

    gap:10px!important;
 }

 nav .about{
    display: flex;
    justify-content: center;
    width: 68px;
  
    gap:10px!important;
 }
 nav .contact{
    display: flex;
    justify-content: center;
    width: 68px;
   
    gap:10px!important;
 }

 nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: #055574;
    border-radius: 8px;
    transition: .5s;

}
nav a:nth-child(1):hover~span{
    left: 0px;
}

nav a:nth-child(2):hover~span{
    left: 95px;
    width: 68px;
}

nav a:nth-child(3):hover~span{
    left: 168px;
    width: 68px;
}
nav a:nth-child(4):hover~span{
    left: 235px;
    width: 90px;
}


/*Estilização slider RESPONSIVE */


   
    




.container-rodape{
    display: flex;
    justify-content: center;
    justify-items: center;
   background-color: #000000;
    padding: 20px;
    


}
}